modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["node", "--enable-source-maps", "./artifacts/api-server/dist/index.mjs"]

[deployment.build]
args = ["bash", "-c", "BASE_PATH=/ pnpm --filter @workspace/travel-agency run build && pnpm --filter @workspace/api-server run build"]
env = { "NODE_ENV" = "production" }

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
GMAIL_APP_PASSWORD = "ypeyimiyfbgirthc"
VPS_HOST = "46.225.6.147"
VPS_USER = "root"
DB_HOST = "46.225.6.147"
DB_NAME = "chouiaar"
DB_USER = "chouiaar_user"
Token_github = "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"
RESEND_API_KEY = "re_Q5rFB1xk_E7xVNukt3qW6nkaxERWqDgTV"
